@media (min-width: 768px) {
    .navbar-collapse {
        height: auto;
        border-top: 0;
        box-shadow: none;
        max-height: none;
        padding-left:0;
        padding-right:0;
    }
    .navbar-collapse.collapse {
        display: block !important;
        width: auto !important;
        padding-bottom: 0;
        overflow: visible !important;
    }
    .navbar-collapse.in {
        overflow-x: visible;
    }

    .navbar{
        max-width:300px;
        width:300px;
        margin-right: 0;
        margin-left: 0;
    } 

    .navbar-nav, .navbar-nav > li, .navbar-left, .navbar-right, .navbar-header{
        float:none !important;
    }

    .navbar-right .dropdown-menu {
        left:0;
        right:auto;
    }
    .navbar-collapse .navbar-nav.navbar-right:last-child {
        margin-right: 0;
    }
}

@media (min-width: 768px) {
    #navbar{
        position: fixed;
        left: 0;
        top: 0;
        border: none;
        border-radius: 0px;
        min-height: 100vh;
        background-color: #51769d;
        color: white;
        // .dropdown-menu{
        //     position: relative;
        //     width: 100%;
        // }
    }
    .content{
        margin-left: 300px;
    }
}

.navbar-brand{
    width: 100%;
    display: block;
    background-color: #2A2A2A;
    height: 100px;
    &:hover, &:focus, &:active{
        background-color: #2A2A2A !important;
        color: #fff;
    }
    .profile-user{
        padding: 10px 20px;
        .profile-image{
            width: 50px;
            height: 50px;
            border-radius: 50%;
            margin-right: 10px;
            display: inline-block;
            background-color: #fff;
            vertical-align: middle;
            img{
                width: 100%;
                height: auto;
                position: relative;
                top: 10px;
            }
        }
        .profile-name{
            color: #fff;
            display: inline-block;
        }
    }
}

.menu-search{
    background-color: #454545;
    color: #fff;
    border: none;
    border-radius: 0px !important;
    height: 35px;
}
.btn-search{
    position: absolute;
    top: 0;
    right: 0;
    // margin-top: 2px;
    outline: none;
    padding: 5px;
    background-color: transparent;
    color: #fff;
    border-radius: 0px;
    border: none;
    @include user-select();
    &:hover, &:focus, &:active{
        background-color: transparent;
        color: #fff;
    }
    i{
        vertical-align: middle;
    }
}

#navbar .navbar-nav.menu-links>li>a{
    color: #fff;
}

#navbar .menu-links{
    li{
        a{
            text-transform: uppercase;
            padding: 10px 10px;
            font-size: 14px;
            i{
                vertical-align: middle;
                font-size: 22px;
                padding: 0px 10px;
            }
            &:hover{
                background-color: lighten(#51769d,5%);
            }
            .drop-icon{
                float: right;
            }
        }
    }
    .dropdown-menu{
        position: relative;
        padding: 5px 30px;
        width: 100%;
        background-color: transparent;
        margin-bottom: 10px;
        box-shadow: none;
        border: none;
        li{
            a{
                &:active, &:hover, &:focus{
                    background-color: #5c83ab;
                }
                color: #fff;
            }
        }
    }
    & >.open>a, & >.open>a:focus, & >.open>a:hover{
        background-color: $azul;
    }
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover{
    background-color: transparent;
}

@media (max-width: 768px) {
    #navbar{
        margin-bottom: 0;
        .menu-search{
            margin-top: 20px;
        }
        .navbar-collapse{
            background-color: #51769d;
            color: #fff;
        }
        .navbar-brand{
            height: 0;
            padding: 0;
            margin: 0;
            .profile-user{
                position: absolute;
                top: 0;
                left: 0;
            }
        }
        .navbar-header{
            height: 70px;
            background-color: #2A2A2A;
            .navbar-toggle{
                margin-top: 18px;
            }
        }
    }
}