$azul: #3f6083;
$azul-claro: #008cba;
$black: #333;
$cinza-escuro: #6B6B6B;
$cinza-background: #fcfcfc;
$cinza-texto: #4d4d4d;

@import "_mixins";
@import "_navbar";
@import "_login";

html, body{
  height: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
}
html{
  font-size: 16px;
}

body{
	color: $cinza-texto;
	background-color: $cinza-background;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	-webkit-text-size-adjust: 100%;
	font-family: 'Open Sans', sans-serif;
	font-size: 1rem;
	position: relative;
	left: 0px;
	overflow-x: hidden;
	@include transition(all .5s ease);
}


i{
	@include user-select();
}

ul {
	padding: 0;
	li {
	    list-style-type: none;
	}
}

.shadow-1 {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.shadow-2 {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.shadow-3 {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.shadow-4 {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.shadow-5 {
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

.text-small{
	font-size: 14px;
}

input[type="text"]{
	border-radius: 2px;
}

.btn-azul{
	text-transform: uppercase;
	color: #fff;
	background-color: $azul;
	border-radius: 2px;
	margin-bottom: 20px;
	&:hover, &:focus, &:active{
		color: #fff;
	}
}

.blue-link{
	color: $azul-claro;
	text-decoration: none !important;
	&:hover{
		color: $azul;
	}
}

.content-header{
    background-color: #51769d;
    color: #fff;
    padding: 15px;
    .header-title{
        font-size: 24px;
    }
    .search-group{
        display: inline-block;
        .search-input{
            border: none;
            border-radius: 0px;
            height: 30px;
            color: $cinza-texto;
            padding: 0px 10px;
        }
        .search-btn{
            background-color: lighten(#51769d,10%);
            color: #fff;
            border: none;
            height: 30px;
            padding: 3px;
            vertical-align: bottom;
            margin-left: -3px;
            outline: none;
        }
    }
    .user-actions{
        color: #fff;
        font-size: 14px;
        text-decoration: none;
        i{
            vertical-align: middle;
            font-size: 22px;
        }
    }
}

.content-code{
    padding: 15px;
    .content-actions{
        padding: 15px 0px;
        .action-btn{
            background-color: #51769d;
            color: #fff;
            padding: 5px 10px;
            margin: 0px 5px;
            font-size: 14px;
            border-radius: 2px;
            cursor: pointer;
            text-decoration: none;
            &:hover{
                background-color: lighten(#51769d,5%);
            }
            i{
                font-size: 20px;
                margin-right: 5px;
                vertical-align: middle;
            }
        }
    }
    .table-icon{
        width: 30px;
        height: 30px;
        display: block;
        color: #fff;
        background-color: #51769d;
        padding: 5px;
        border-radius: 2px;
        i{
            font-size: 20px;
        }
    }
}

.btn-geia{
    background-color: #51769d;
    color: #fff;
    padding: 7px 15px;
    margin: 0px 5px;
    font-size: 14px;
    border-radius: 2px;
    cursor: pointer;
    text-decoration: none;
    border: none;
    &:hover{
        background-color: lighten(#51769d,5%);
        color: #fff;
        text-decoration: none;
    }
    i{
        font-size: 20px;
        margin-right: 5px;
        vertical-align: middle;
    }
}

a.btn-geia{
    padding-bottom: 9px;
}